.Login {
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    text-shadow: 2px 2px 5px #34302f;
}

.Login-form {
    display: flex;
    width: 40vw;
    align-items: center;
    flex-direction: column;
}

.Login-form-item {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

label {
    flex: 1;
    color: #fff;
    margin: .5vw;
}

input {
    flex: 1;
    margin: .5vw;
}

.Login-btn {
    margin: 1vw;
    padding: .5vw;
}